footer.l-footer
  .row-grid.footer-grid
    .col-lg-4.footer__copyright © mondelez international all rights reserved 
      
    .col-lg-3.footer__logo 
      img(class="img--footer" src="/images/logo/desktop/logo-mondolez.png")
    .col-lg-5
      .row-grid.footer__menu
        - var menuone = ["contact us", "accessibility", "legal notices","privacy policy","site map"];
        ul.navigation
          for name in menuone
            a(href="#")
              li= name