
@lost gutter 2.5%;
@lost flexbox flex;
@lost cycle none;

.wrapper {
  lost-center: 1280px;
  background-color: #fff;
  box-shadow: 1px 1px 12px #555;
}

.row-grid {
  lost-flex-container: row;
  height: 100%;
}

.row-grid_withback{
  background-image: url(/images/plat-based.png);
  width:100%;
  height:auto;
}

.footer-grid {
  @include media("all-tablets" "all-phones") {
    flex-direction: column-reverse;
  }
}

.col-lg-1 {
  @include media("desktop") {
    lost-column: 1/12 !important;
  }
  lost-column: 1/1;
}

.col-lg-2 {
  @include media("desktop") {
    lost-column: 1/6 !important;
  }
  lost-column: 1/1;
}

.col-lg-3 {
  @include media("desktop") {
    lost-column: 1/4 !important;
  }
  lost-column: 1/1;
}

.col-lg-4 { 
  @include media("desktop") {
    lost-column: 1/3 !important;
  }
  lost-column: 1/1;
}

.col-lg-5 { 
  @include media("desktop") {
    lost-column: 5/12 !important;
  }
  lost-column: 1/1;
}

.col-lg-6 {
  @include media("desktop") {
    lost-column: 1/2 !important;
  }
  lost-column: 1/1;
}

.col-lg-7 {
  @include media("desktop") {
    lost-column: 7/12 !important;
  }
  lost-column: 1/1;
}

.col-lg-8 {
  @include media("desktop") {
    lost-column: 2/3 !important;
  }
  lost-column: 1/1;
}

.col-lg-9 {
  @include media("desktop") {
    lost-column: 9/12 !important;
  }
  lost-column: 1/1;
}

.col-lg-10 { 
  @include media("desktop") {
    lost-column: 5/6 !important;
  }
  lost-column: 1/1;
}

.col-lg-11 { 
  @include media("desktop") {
    lost-column: 11/12 !important;
  }
  lost-column: 1/1;
}

.col-lg-12 {
  @include media("desktop") {
    lost-column: 1/1 !important;
  }
  lost-column: 1/1;
}

.col-md-1 {
  @include media("all-tablets") {
    lost-column: 1/12 !important;
  }
  @include media("desktop") {
    lost-column: 1/12;
  }
  @include media("all-phones") {
    lost-column: 1/1;
  }
}

.col-md-2 {
  @include media("all-tablets") {
    lost-column: 1/6 !important;
  }
  @include media("desktop") {
    lost-column: 1/6;
  }
  @include media("all-phones") {
    lost-column: 1/1;
  }
}

.col-md-3 {
  @include media("all-tablets") {
    lost-column: 3/12 !important;
  }
  @include media("desktop") {
    lost-column: 3/12;
  }
  @include media("all-phones") {
    lost-column: 1/1;
  }
}

.col-md-4 {
  @include media("all-tablets") {
    lost-column: 1/3 !important;
  }
  @include media("desktop") {
    lost-column: 1/3;
  }
  @include media("all-phones") {
    lost-column: 1/1;
  }
}

.col-md-5 {
  @include media("all-tablets") {
    lost-column: 5/12 !important;
  }
  @include media("desktop") {
    lost-column: 5/12;
  }
  @include media("all-phones") {
    lost-column: 1/1;
  }
}

.col-md-6 {
  @include media("all-tablets") {
    lost-column: 1/2 !important;
  }
  @include media("desktop") {
    lost-column: 1/2;
  }
  @include media("all-phones") {
    lost-column: 1/1;
  }
}

.col-md-7 {
  @include media("all-tablets") {
    lost-column: 7/12 !important;
  }
  @include media("desktop") {
    lost-column: 7/12;
  }
  @include media("all-phones") {
    lost-column: 1/1;
  }
}

.col-md-8 {
  @include media("all-tablets") {
    lost-column: 2/3 !important;
  }
  @include media("desktop") {
    lost-column: 2/3;
  }
  @include media("all-phones") {
    lost-column: 1/1;
  }
}

.col-md-9 {
  @include media("all-tablets") {
    lost-column: 9/12 !important;
  }
  @include media("desktop") {
    lost-column: 9/12;
  }
  @include media("all-phones") {
    lost-column: 1/1;
  }
}

.col-md-10 {
  @include media("all-tablets") {
    lost-column: 5/6 !important;
  }
  @include media("desktop") {
    lost-column: 5/6;
  }
  @include media("all-phones") {
    lost-column: 1/1;
  }
}

.col-md-11 {
  @include media("all-tablets") {
    lost-column: 11/12 !important;
  }
  @include media("desktop") {
    lost-column: 11/12;
  }
  @include media("all-phones") {
    lost-column: 1/1;
  }
}

.col-md-12 {
  @include media("all-tablets") {
    lost-column: 1/1 !important;
  }
  @include media("all-tablets" "all-phones") {
    lost-column: 1/1;
  }
}

.col-sm-1 {
  @include media("all-phones") {
    lost-column: 1/12 !important;
  }
  lost-column: 1/12;
}

.col-sm-2 {
  @include media("all-phones") {
    lost-column: 1/6 !important;
  }
  lost-column: 1/6;
}

.col-sm-3 {
  @include media("all-phones") {
    lost-column: 3/12 !important;
  }
  lost-column: 3/12;
}

.col-sm-4 {
  @include media("all-phones") {
    lost-column: 1/3 !important;
  }
  lost-column: 1/3;
}

.col-sm-5 {
  @include media("all-phones") {
    lost-column: 5/12 !important;
  }
  lost-column: 5/12;
}

.col-sm-6 {
  @include media("all-phones") {
    lost-column: 1/2 !important;
  }
  lost-column: 1/2;
}

.col-sm-7 {
  @include media("all-phones") {
    lost-column: 7/12 !important;
  }
  lost-column: 7/12;
}

.col-sm-8 {
  @include media("all-phones") {
    lost-column: 2/3 !important;
  }
  lost-column: 2/3;
}

.col-sm-9 {
  @include media("all-phones") {
    lost-column: 9/12 !important;
  }
  lost-column: 9/12;
}

.col-sm-10 {
  @include media("all-phones") {
    lost-column: 5/6 !important;
  }
  lost-column: 5/6;
}

.col-sm-11 {
  @include media("all-phones") {
    lost-column: 11/12 !important;
  }
  lost-column: 11/12;
}

.col-sm-12 {
  @include media("all-phones") {
    lost-column: 1/1 !important;
  }
  lost-column: 1/1;
}

.visible-md {
  @include media("desktop") {
    display: none !important;
  }
}

.hidden-md {
  @include media("all-tablets" "all-phones") {
    display: none !important;
  }
}

