extends ../_base/layout.pug

block main

  .slider
    p slider

  .block-content
    .row-grid
      .col-lg-6
        h1 Info
      .col-lg-6
        h1 Image
    .row-grid
      .col-lg-6
        h1 Info
      .col-lg-6
        h1 Image
